<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarHospital( input.value )" type="text" class="form-control" placeholder="Buscar hospital...">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="card-title">Hospitales registrados ( <small>{{ _hospitalService.totalHospitales }}</small> )</h3>
                    </div>

                    <div class="col-md-4 offset-md-4 text-right">
                        <button type="button" *ngIf="admin" (click)="crearHospital()" class="btn waves-effect waves-light btn-rounded btn-primary">
                            <i class="fa fa-plus"></i>
                            Crear Hospital
                        </button>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Imagen</th>
                            <th scope="col">Nombre</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td class="w70">
                                <img *ngIf="admin" (click)="mostrarModal( hospital._id )" [src]="hospital.img | imagen:'hospital'" class="img-50 pointer">
                                <img *ngIf="!admin" [src]="hospital.img | imagen:'hospital'" class="img-50">
                            </td>
                            <td> 
                                <input [disabled]="!admin" class="form-control" [(ngModel)]="hospital.nombre" type="text" name="nombre" placeholder="Nombre del hospital"> 
                            </td>
                            <td>
                                <button [disabled]="!admin" (click)="guardarCambios( hospital )" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button [disabled]="!admin" (click)="borrarHospital( hospital )" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button (click)="cambiarPaginacion(-5)" class="btn btn-secondary">
                    anteriores
                </button>
                <button (click)="cambiarPaginacion(5)" class="btn btn-secondary">
                    siguientes
                </button>

            </div>
        </div>
    </div>
</div>